$text-color: #282D3C;
$border-color: #DBDBDB;
$purple-color: #562F8A;
$orange-color: #ff4600;
$green-color: #2F8A56;
$gray-color: #9F9F9F;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: 'Source Sans Pro';
    font-size: 22px;
    margin: 0;
  }

  a {
    color: $orange-color;
    font-family: 'Source Sans Pro Semibold';
    font-size: 16px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

#jm-carousel {
  font-family: 'Source Sans Pro';
  margin-bottom: 20px;

  .product {
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 4px;
    height: 420px;
    margin: 10px;
    padding: 10px;

    a {
      text-decoration: none;
    }

    .tag-discount {
      display: flex;
      justify-content: flex-end;

      span {
        color: #fff;
        background: $purple-color;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 5px;
        position: absolute;
      }
    }

    img {
      margin: 0 auto;
      display: block;
    }

    .itm-flag-container {
      height: 22px;
      text-align: center;

      .itm-flag {
        color: #fff;
        font-family: 'Source Sans Pro Semibold';
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        display: block;
        width: 196px;
        margin: 0 auto;
        padding: 2px 0;

        &.itm-black-friday {
          background: #000;

          span {
            color: #f00;
          }
        }

        &.itm-immediate-delivery {
          background: $green-color;
        }

        &.itm-mobly-seal {
          background: $orange-color;
        }

        &.itm-saldao-seal {
          background: $purple-color;
        }

        &.itm-internacional-seal {
          background: #ff7039;
        }
      }
    }

    h4 {
      color: $text-color;
      font-family: 'Source Sans Pro';
      font-size: 16px;
      height: 40px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .rating {
      height: 25px;
    }

    .price {
      height: 66px;
      display: inline-flex;
      align-items: flex-end;

      p {
        color: $text-color;
        font-family: 'Source Sans Pro';
        margin: 0;
      }

      .original {
        color: $gray-color;
        font-size: 14px;
        line-height: 18px;
        height: 18px;
        text-decoration: line-through;
      }

      .discount-disclaimer {
        font-size: 14px !important;
        font-family: 'Source Sans Pro Semibold';
        font-weight: bold;
        color: #21a872;
        display: block;
        margin-top: 5px;
      }

      .special,
      .final {
        font-family: 'Source Sans Pro';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        height: 24px;

        span {
          font-size: 16px;
        }
      }

      .payment {
        font-size: 13px;
        line-height: 18px;
        height: 18px;
      }
    }

    .yotpo-display-wrapper .standalone-bottomline {
      border: none;
      padding: 0;

      .text-m {
        display: none;
      }
    }
  }

  .custom-action-wrapper {
    padding: 0 10px;
    margin-top: 32px;

    .custom-action {
      background: #2F8A56;
      padding: 8px;
      border: none;
      color: #fff;
      font-family: 'Source Sans Pro Semibold';
      font-size: 16px;
      line-height: 20px;
      display: block;
      width: 100%;
    }
  }
}

/* mobile and tablet */
@media (min-width: 320px) and (max-width: 1024px) {
  .title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .VueCarousel-wrapper {
    overflow: scroll;
  }

  .VueCarousel-navigation {
    display: none;
  }
}
