.VueCarousel-wrapper {
    margin: 0 auto;
    width: 100%;
}
  
.VueCarousel-navigation {
    .VueCarousel-navigation-button {
      font-size: 32px;
      font-weight: 700;
      height: 64px;
      width: 64px;
      padding: 0 8px 4px !important;
      background-color: #fff !important;
  
      &:focus, &:hover {
        outline: none;
      }
  
      &.VueCarousel-navigation-prev {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        left: 45px;
        transform: translateY(-100%) translateX(-100%);
      }
  
      &.VueCarousel-navigation-next {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        right: 45px;
        transform: translateY(-100%) translateX(100%);
      }
    }
}