<!-- eslint-disable vue/no-deprecated-filter -->
<template>
  <div id="jmapp" :class="extraClasses()">
    <div
      v-if="
        products &&
        (Array.isArray(products)
          ? products.length
          : Object.keys(products).length)
      "
      class="col-lg-12 title mb-20 mt-20"
    >
      <h3>{{ title }}</h3>
    </div>

    <div
      id="jm-carousel"
      class="col-sm-12 no-padding"
      @mouseover="activeNav"
      @mouseleave="disableNav"
    >
      <carousel
        class="col-lg-12 no-padding"
        :paginationEnabled="false"
        :navigationEnabled="this.nav"
        navigationNextLabel="&rsaquo;"
        navigationPrevLabel="&lsaquo;"
        v-bind:loop="true"
        :perPage="perPage"
        v-model="currentIndex"
      >
        <slide v-for="(product, index) in products" :key="product.sku">
          <div class="product" :class="{ 'with-action': withCustomAction }">
            <a
              :href="redirectProduct(product.id, index)"
              @click="track(product.skuVariation, $event)"
            >
              <div v-lazy-load-directive>
                <div v-if="product.savingPercentage" class="tag-discount">
                  <span> -{{ product.savingPercentage }}</span>
                </div>
                <img
                  v-if="product.productImage"
                  :src="loadImage"
                  :data-url="product.productImage.optionTwo.main + '.jpg'"
                  :alt="product.name"
                  height="196"
                  width="196"
                />
              </div>
              <div>
                <div class="itm-flag-container">
                  <span
                    v-if="product.sealBlackFriday"
                    class="itm-flag itm-black-friday"
                    >Black <span>Friday</span></span
                  >
                  <span
                    v-else-if="product.immediateDelivery"
                    class="itm-flag itm-immediate-delivery"
                    >Envio imediato</span
                  >
                  <span
                    v-else-if="product.sealExclusive"
                    class="itm-flag itm-mobly-seal"
                    >Exclusivo Mobly</span
                  >
                  <span
                    v-else-if="product.sealSaldaoMobly"
                    class="itm-flag itm-saldao-seal"
                    >Saldão M</span
                  >
                  <span
                    v-else-if="product.sealInternational"
                    class="itm-flag itm-internacional-seal"
                    >Internacional</span
                  >
                </div>
                <h4>{{ product.name | truncate(47) }}</h4>
                <div class="rating clearfix"></div>
                <!-- <div
                  class="rating clearfix"
                  itemprop="aggregateRating"
                  itemscope
                  itemtype="http://schema.org/AggregateRating"
                >
                  <span
                    class="yotpo bottomLine"
                    v-bind:data-product-id="product.id"
                    v-bind:data-url="productUrl(product.url)"
                  >
                  </span>
                </div> -->
              </div>
              <div class="price">
                <span>
                  <span v-if="product.price">
                    <p class="original" v-bind:sku="product.sku">
                      De: {{ product.price | formatPrice }}
                    </p>
                    <p class="special" v-bind:sku="product.sku">
                      <span>Por:</span>
                      {{ getlowestPrice(product) | formatPrice }}
                    </p>
                  </span>
                  <span v-else>
                    <p class="final" v-bind:sku="product.sku">
                      {{ getlowestPrice(product) | formatPrice }}
                    </p>
                  </span>
                  <p v-bind:sku="product.sku">
                    <span
                      v-if="
                        product.cartRules.lowestCartRulesByPrice
                          .hasCartRulesActive
                      "
                      class="discount-disclaimer"
                      >à vista com
                      {{
                        product.cartRules.lowestCartRulesByPrice.disclaimerTxt
                      }}
                    </span>
                  </p>
                  <p v-if="product.installments.count" class="payment">
                    ou em até {{ product.installments.count }}x de
                    {{ product.installments.value | formatPrice }} s/ juros
                  </p>
                </span>
              </div>
            </a>
          </div>
          <div v-if="withCustomAction" class="custom-action-wrapper">
            <button class="custom-action" @click="action(product.skuVariation)">
              {{ customAction || 'Adicionar' }}
            </button>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import LazyLoadDirective from './directives/LazyLoadDirective.js';

export default {
  name: 'JetMobly',
  directives: {
    LazyLoadDirective,
  },
  props: [
    'products',
    'title',
    'baseUrl',
    'sessionId',
    'apiBaseUrl',
    'onClick',
    'label',
    'withCustomAction',
    'customAction',
    'onCustomActionClick',
    'extraData',
  ],
  data: () => ({
    nav: false,
    loadImage: '/images/mobly4/jetmobly-moblyv4-loading.gif',
    perPage: 5,
    currentIndex: 0,
    executeIdsPx: new Set(),
    executeIdsClick: new Set(),
  }),
  components: {
    Carousel,
    Slide,
  },
  computed: {
    filteredData() {
      return this.extraData &&
        this.extraData.type === 'showcase' &&
        Array.isArray(this.extraData.data.simpleList)
        ? this.extraData.data.simpleList
        : [];
    },
  },
  watch: {
    currentIndex() {
      if (this.filteredData.length > 0) {
        const startIndex = this.currentIndex * this.perPage;
        const endIndex = startIndex + this.perPage;
        this.executeTracking(startIndex, endIndex);
      }
    },
    extraData: {
      immediate: true,
      handler() {
        if (
          typeof this.extraData !== 'undefined' &&
          typeof this.extraData.data !== 'undefined' &&
          typeof this.extraData.data.tracking === 'object'
        ) {
          this.trackUrl({ ...this.extraData.data.tracking }, 'px');
        }
        if (this.filteredData.length > 0) {
          this.executeTracking(0, this.perPage);
        }
      },
    },
  },
  methods: {
    async executeTracking(startIndex, endIndex, type = 'px') {
      if (this.extraData && this.extraData.type === 'showcase') {
        const items = this.filteredData.slice(startIndex, endIndex);
        const trackingPromises = items.flatMap(item =>
          (item.tracking || []).map(ad => this.trackUrl(ad, type)),
        );

        await Promise.allSettled(trackingPromises);
      }
    },
    async trackUrl(tracking, type) {
      const trackingUrl = tracking[type];

      const hasTracked = {
        px: this.executeIdsPx.has(trackingUrl),
        click: this.executeIdsClick.has(trackingUrl),
      };

      const isTracked = hasTracked[type] ?? false;

      if (trackingUrl && !isTracked) {
        try {
          const url = encodeURIComponent(encodeURI(trackingUrl));
          const response = await fetch(
            `${this.apiBaseUrl}/v1/advertisement/track?url=${url}`,
            {
              method: 'GET',
              headers: {
                'x-user-id': this.sessionId,
              },
            },
          );
          if (response.ok) {
            if (type === 'px') {
              this.executeIdsPx.add(trackingUrl);
            } else {
              this.executeIdsClick.add(trackingUrl);
            }
          }
        } catch (error) {
          // do nothing
        }
      }
    },
    async track(sku, event) {
      const simple = sku.split('-')[1];
      const simpleIndex = this.filteredData.findIndex(
        item => item.simple === simple,
      );
      return this.executeTracking(simpleIndex, simpleIndex + 1, 'click')
        .catch(() => {
          return true;
        })
        .finally(() => {
          if (this.onClick) {
            return this.onClick(sku, event);
          }

          return true;
        });
    },
    action(sku) {
      if (this.onCustomActionClick) {
        this.onCustomActionClick(sku);
      }
    },
    extraClasses() {
      const classes = {};

      if (this.label) {
        classes[this.label] = true;
      }

      return classes;
    },
    activeNav() {
      // eslint-disable-next-line no-return-assign
      return (this.nav = true);
    },

    disableNav() {
      // eslint-disable-next-line no-return-assign
      return (this.nav = false);
    },

    addYotpo() {
      const script = document.createElement('script');
      script.src =
        '//staticw2.yotpo.com/eRBRHnuodmkUzA0IqMi5e5LhMwg6efxQqbu2BING/widget.js';
      document.head.appendChild(script);
    },

    productUrl(url) {
      const newProductUrl = url.toString().replace(/^\//, '');
      return window.location.href + newProductUrl;
    },

    redirectProduct(config) {
      if (this.label === 'related-product') {
        var params = new URLSearchParams({
          'related-product': 'jetmobly',
          label: this.label || '',
        });
      } else {
        var params = new URLSearchParams({
          origin: 'jetmobly',
          label: this.label || '',
        });
      }

      return `${
        this.baseUrl ? `${this.baseUrl}/` : ''
      }${config}.html?${params.toString()}`;
    },

    getlowestPrice(product) {
      return product.cartRules.lowestCartRulesByPrice.hasCartRulesActive
        ? product.cartRules.lowestCartRulesByPrice.lowestPriceAvailable
        : product.finalPrice;
    },
  },
  filters: {
    truncate(value, limit) {
      if (value.length > limit) {
        // eslint-disable-next-line no-param-reassign
        value = `${value.substring(0, limit - 3)}...`;
      }

      return value;
    },

    /**
     * @martini | 2022-09-01
     * More info: https://helpdeskmobly.atlassian.net/browse/WEB-1313
     */
    formatPrice(
      number,
      decimals = 2,
      decPoint = ',',
      thousandsSep = '.',
      symbol = 'R$ ',
    ) {
      if (typeof number === 'string') {
        // remove space or strange character
        const newStringNumber = `${number}`.replace(/[^0-9+-Ee.]/g, '');
        return (
          symbol +
          newStringNumber
            .replace(/,/g, '.')
            .replace('.', ',') // replace decimal separator to pt-BR
            .replace(/\B(?=(\d{3})+(?!\d))/g, '.')
        ); // add thousand separators,
      }

      // eslint-disable-next-line no-param-reassign
      number = `${number}`.replace(/[^0-9+-Ee.]/g, '');
      // eslint-disable-next-line no-restricted-globals
      const n = !isFinite(+number) ? 0 : +number;
      // eslint-disable-next-line no-restricted-globals
      const prec = !isFinite(+decimals) ? 0 : Math.abs(decimals);
      const sep = typeof thousandsSep === 'undefined' ? ',' : thousandsSep;
      const dec = typeof decPoint === 'undefined' ? '.' : decPoint;
      let s = '';

      const toFixedFix = function (price, precis) {
        const k = 10 ** precis;
        return `${Math.round(price * k) / k}`;
      };

      s = (prec ? toFixedFix(n, prec) : `${Math.round(n)}`).split('.');

      if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(\d{3})+(?!\d))/g, sep);
      }

      if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
      }
      return symbol + s.join(dec);
    },
  },
};
</script>

<style lang="scss">
@import 'styles/base.scss';
@import 'styles/carousel.scss';
</style>
